
main.container {
    min-height: calc(100vh - 250px);
    margin-top: 1rem;
}


.flash-container {
    position: fixed;
    z-index: 10001;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px;
    height: min-content !important;
}
