.sidebar {
    width: 446px;
    position: fixed;
    left: -2500px; /* Hidden by default */
    top: 0;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 30px;
    transition: left 0.3s ease;
    z-index: 1001;
    border-right: 3px solid rgb(181, 181, 181);
    font-size: 26px;
}

.sidebar-open {
    left: 0;
}

.middle-segment {
    padding: 20px;
}

body {
    margin-top: 0px;
}

.overlay {
    position: fixed;
    display: none;
    width: calc(100% - 446px); /* Adjusted width to not cover the sidebar */
    height: 100%;
    top: 0;
    left: 446px; /* Start the overlay just after the sidebar */
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000; /* Lower z-index so sidebar is on top */
}

.overlay-show {
    display: block;
}

.navbar {
    padding: 50px;
}

.navbar-top {
    display: flex;
}

.website-title {
    font-family: "Kode Mono", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.menu-section {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 26px !important;
}

.form-controller {
    width: 360px;
    height: 56px;
    border-radius: 28px;
    position: relative;
    z-index: 1;
}

.search-container-segment {
    position: relative;
    width: 100%;
}

.form-control {
    width: 100%;
    height: 56px;
    padding: 10px 20px 10px 50px; /* Padding for icon space */
    border-radius: 28px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 1;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
    z-index: 2;
}

.navbar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px !important;
}

.link-segment {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    padding-bottom: 20px;
}

.sidebar b:first-of-type::before {
    content: "";
    display: block;
    border-top: 1px solid black; /* The black line */
    width: 400px; /* Adjust the width as needed */
    height: 0;
    background-color: transparent;
    position: relative; /* Change to relative to keep the line positioned correctly */
    top: -10px; /* Adjust the position above the b element */
    left: 0;
}
